<html>
  <head>
    <title>Edit Goal</title>
    <style>

      h3 {
        text-align: center;
      }

      .user-form input{
        width: 550px;
      }

      .user-form input.long-text {
        padding-bottom: 100px;
      }

    </style>
  </head>

  <header>
    <a href ="/home"><h1>GOAL</h1></a>
    <nav>
      <a href="/home">Home</a>
      <a href="/feed">Feed</a>
      <a href="/resources">Resources</a>
      <a href="/">Log Out</a>
    </nav>
  </header>

  <body>
    <h3>Edit Goal </h3>


    <!-- not sure how to show current goal from chosen goal, and set placeholders to have goal info -->

    <% if flash.has?(:message) %>
      <p style="color:#f0ad4e; text-align: center;"><%= flash[:message] %> </p>
    <% end %>

  <!-- Need to validate date and email -->
    <section class="user-form">
      <form method="POST" action="/goals/<%=@goal.id%>">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
        <label</label><input type="text" name="goal[title]" value="<%= @goal.title%>"><br>
        <input class= "long-text" type="text" name="goal[description]" value="<%= @goal.description%>"><br>
        <input class= "long-text" type="text" name="goal[action_plan]" value="<%= @goal.action_plan%>"><br>
        <input type="date" name="goal[deadline]" value="<%= @goal.deadline.strftime("%Y-%m-%d")%>"><br>
        <button type="submit">Edit Goal</button>
      </form>
    </section>
  </body>

</html>
