<html>
<head>
  <title>Feed</title>
  <style>
    .hero {
      padding: 40px;
    }
    .user-feed p {
      margin-left: 20px;
    }
    .title {
      font-weight: 600;
    }
    .content {
      margin-left: 20px;
    }
    .user-feed {
      border-bottom: 1px solid #ABD0CE;
    }
    h3 {
      text-align: center;
    }
  </style>
</head>


  <header>
    <a href ="/home"><h1>GOAL</h1></a>
    <nav>
      <a href="/home">Home</a>
      <a href="/feed">Feed</a>
      <a href="/resources">Resources</a>
      <a href="/">Log Out</a>
    </nav>
  </header>
  <body>
    <section class="hero">
      <% if Goal.all.empty? %>
        <h3> The Feed is currently empty. </h3>
        <form class= "user-form" method="get" action='/create-goal'>
          <button type="submit">Create Goal</button>
        </form>
      <% else %>
        <% sorted_user_hash = User.all.sort_by {|key| key[:username]} %>
        <% sorted_user_hash.each do |user| %>
          <% if !current_user_goals(user).empty? %>
            <div class="user-feed">
              <h4> @<%= user.username %>:</h4>
              <% current_user_goals(user).each_with_index do |goal, index| %>
                <div class="title"><p>Goal #<%=index+1%>: <%=goal.title%></p></div>
                <div class="content"><p><%= goal.description %> by <%= dateify(goal.deadline) %></p></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </body>
</html>
