<html>
  <head>
    <title>Home</title>
    <style>

      .hero {
        padding: 40px;
        text-align: center;
      }
      h3 {
        text-align: center;
        margin-top: 40px;
      }
      h2 {
        border-bottom: 1px solid rgb(100, 220, 145);
        border-bottom-length: 10px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
      .other-goals h2{
        width: 200px;
      }
      .user-form {
        padding: 0;
        text-align: center;
      }
      .edit-or-delete-goal {
        overflow: hidden;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
      }
      .edit-or-delete-goal form {
        float: left;
      }
    </style>
  </head>

  <body>
    <header>
      <a href ="/home"><h1>GOAL</h1></a>
      <nav>
        <a href="/home">Home</a>
        <a href="/feed">Feed</a>
        <a href="/resources">Resources</a>
        <a href="/">Log Out</a>
      </nav>
    </header>
    <h3>Welcome, <%= current_user.username %>!</h3>
    <section class="hero">
      <div class="user-goals">

        <% if flash.has?(:message) %>
          <p style="color:#f0ad4e; text-align: center;"><%= flash[:message] %> </p>
        <% end %>

        <% if @goals.empty? %>
          <h3> You currently have no goals. </h3>
          <form class= "user-form" method="get" action='/create-goal'>
            <button type="submit">Create Goal</button>
          </form>
        <% else %>
          <h2> Your Goals:</h2>
              <% @goals.each_with_index do |goal, index| %>
                  <h4>Goal #<%= index + 1 %>: <%= goal.title %></h4>
                  <p>Description: <%= goal.description %></p>
                  <p>Action Plan: <%= goal.action_plan %></p>
                  <p>Deadline: <%= dateify(goal.deadline) %></p>

                  <div class="edit-or-delete-goal">
                    <form method="get" action="/edit-goal"><button type="submit">Edit Goal</button></form>
                    <form method="post" action="/delete-goal"><button type="submit">Delete Goal</button></form>
                  </div>
              <% end %>
              <form class= "user-form" method="get" action='/create-goal'>
                <button type="submit">Create New Goal</button>
              </form>
        <% end %>
      </div>

    </section>
    </body>
</html>
