<html>
  <head>
    <title>Home</title>
    <style>

      .hero {
        padding: 40px;
        text-align: center;
      }
      h3 {
        text-align: center;
        margin-top: 40px;
      }
      h2 {
        border-bottom: 1px solid rgb(100, 220, 145);
        border-bottom-length: 10px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
      .other-goals h2{
        width: 200px;
      }
      .user-form {
        padding: 0;
        text-align: center;
      }
      .edit-or-delete-goal {
        overflow: hidden;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
      }
      .edit-or-delete-goal form {
        float: left;
      }
      .random-quote {
        text-align: center;
      }
      .random-quote img{
        max-width: 50%;
      }
      .random-quote h4 {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <header>
      <a href ="/home"><h1>GOAL</h1></a>
      <nav>
        <a href="/home">Home</a>
        <a href="/feed">Feed</a>
        <a href="/resources">Resources</a>
        <a href="/">Log Out</a>
      </nav>
    </header>
    <h3>Welcome, <%= current_user.username %>!</h3>
    <div class="random-quote">
      <img src="">
      <h4>Quote of the Day: </h4>
      <p>Author</p>
    </div>

    <section class="hero">
      <div class="user-goals">

        <% if flash.has?(:message) %>
          <p style="color:#f0ad4e; text-align: center;"><%= flash[:message] %> </p>
        <% end %>

        <% if @goals.empty? %>
          <h3> You currently have no goals. </h3>
          <form class= "user-form" method="get" action='/create-goal'>
            <button type="submit">Create Goal</button>
          </form>
        <% else %>
          <h2> Your Goals:</h2>
              <% @goals.each_with_index do |goal, index| %>
                  <h4>Goal #<%= index + 1 %>: <%= goal.title %></h4>
                  <p>Description: <%= goal.description %></p>
                  <p>Action Plan: <%= goal.action_plan %></p>
                  <p>Deadline: <%= dateify(goal.deadline) %></p>

                  <div class="edit-or-delete-goal">
                    <button type="submit"><a href="/goals/<%=goal.id%>/edit">Edit Goal</a></button>
                    <form method="post" action="/goals/<%=goal.id%>/delete">
                      <input id="hidden" type="hidden" name="_method" value="DELETE">
                      <button type="submit">Delete Goal</button>
                    </form>
                  </div>
              <% end %>
              <form class= "user-form" method="get" action='/create-goal'>
                <button type="submit">Create New Goal</button>
              </form>
        <% end %>
      </div>

    </section>

      <!-- Generate inspiring quote of the day from World's best quotes API -->
      <script>
        const url = "http://quotes.rest/qod.json?category=inspire"
        const quoteTag = document.querySelector(".random-quote h4")
        const authorTag = document.querySelector(".random-quote p")
        const imageTag = document.querySelector(".random-quote img")

        const randomQuote = function() {
          fetch(url).then(response => response.json()).then(data => {
            quoteTag.innerHTML = 'Quote of the day: "' + data.contents.quotes[0].quote + '"'
            authorTag.innerHTML = data.contents.quotes[0].author
            imageTag.src = "https://images.unsplash.com/photo-1496449903678-68ddcb189a24?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjU5MTMxfQ"
          })
        }
        randomQuote()

      </script>
    </body>
</html>
